.header__box {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 18px 0 6px;
    padding: 0;
    column-gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__box {
        margin: 14px 0 8px;
    }
}